<!doctype html>
<html lang="fi">
<head>
<meta charset="UTF-8">
<title>{% block title %}Vieraskirja-sovellus 1.0{% endblock %}</title>
<meta name="description" content="">

        
        {% stylesheets 'css/style.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

<!-- IE6-8 support of HTML5 elements --> <!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

    <style>
    
        @font-face {
      font-family: "Fontti";
      src: url("font/pcsenior.ttf");
    }
        
        @font-face {
      font-family: "Valikko";
      src: url("font/Courier Prime Code.ttf");
    }
    
    h2 { font-family: "Fontti", serif }
        
        a, .footerteksti, p {
            
            font-family: "Valikko", serif 
            
        }
    
    </style>    
    </head>
    
     {% image 'img/02.jpg' %}
<body background="{{ asset_url }}">
    {% endimage %}

<div id="wrapper">
<header>
    <center>
<hgroup>
    
   
    
    {% image 'img/logo.png' %}
    <img src="{{ asset_url }}" />
{% endimage %}

</hgroup>
    
    <br>
    <nav>
    
    
    <ul class="nav">
  <li><a href="/">Etusivu</a></li>
  <li><a href="/lue">Lue</a></li>
  <li><a href="/kirjoita">Kirjoita</a></li>
</ul>
    
</nav>
    <br></center>
</header>
<section>
    <center>
    <article>
    <h2>Lue Vieraskirjaa!</h2>
        <p align="center">Alla näet vieraskirjaan tallennetut viestit.<br><br>
    </p>
    <hr>
       
        
        
<br><br>
{% for item in kaikkiviestit %}
    <b>Kirjoittaja:</b>{{ item.kirjoittajanNimi }}<br>
    <b>Sähköposti:</b>{{ item.sahkopostiOsoite }}<br>
    <b>Aika:</b>{{ item.ajankohta|date("d-m-Y H:i:s") }}<br><br>
    <b>Viesti:</b>{{ item.kirjoitettuViesti }}<br><hr><br>
    
{% endfor %}
    </article>
    </center>
</section>
    
   

</body>
</html>
            